{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ClimatEngage</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "main_site/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static "main_site/vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet">
  <link href="{% static "main_site/vendor/simple-line-icons/css/simple-line-icons.css" %}" rel="stylesheet"
    type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static "main_site/css/landing-page.min.css" %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="/">ClimatEngage</a>
      <a href="about">About</a>
    </div>
  </nav>


  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1>About</h1>
        <p>
          ClimatEngage helps you find out who your representatives in Washington are and gives you their contact
          information so that you can let them know how the climate crisis is important to you. ClimatEngage also
          provides <a href="https://scorecard.lcv.org/methodology">Environmental Scorecard</a> scores for your
          representative compiled by the <a href="https://en.wikipedia.org/wiki/League_of_Conservation_Voters">League of
            Conservation Voters</a> so that
          you can see if your representative has been voting to protect the environment.
        </p>
        <h3>How to influence your representative</h3>
        <p>If you call your represntative make sure to be polite, and explain your position clearly. </p>
        <p><a href="https://www.vox.com/policy-and-politics/2017/4/19/14949234/how-to-change-opinions-congress">How to
            get Congress to do what you want - Vox</a></p>
      </div>
    </div>
  </div>


  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <p class="text-muted small mb-4 mb-lg-0">Big Red Hacks 2019</p>
      </div>
    </div>
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="{% static "main_site/vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "main_site/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  <script>
    /* https://gist.github.com/mlocati/7210513 */
    function perc2color(perc) {
      var r, g, b = 0;
      if (perc < 50) {
        r = 255;
        g = Math.round(5.1 * perc);
      }
      else {
        g = 255;
        r = Math.round(510 - 5.10 * perc);
      }
      var h = r * 0x10000 + g * 0x100 + b * 0x1;
      return '#' + ('000000' + h.toString(16)).slice(-6);
    }

    $(document).ready(function () {
      $(".score").each(function (index) {
        score = $(this).text();
        $(this).css('color', perc2color(score));
      });
    });
  </script>
</body>

</html>