{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ClimatEngage</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "main_site/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static "main_site/vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet">
  <link href="{% static "main_site/vendor/simple-line-icons/css/simple-line-icons.css" %}" rel="stylesheet"
    type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static "main_site/css/landing-page.min.css" %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="/">ClimatEngage</a>
      <a href="/about">About</a>
    </div>
  </nav>

  <!-- Senators -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h1>Senators</h1>
          <div class="row">
            {% for senator in senate_scores %}
            <div class="col-6">
              <h4>{{ senator }}</h4>
              <img style="margin:1em" width="100" src="{{ senator.civics_info.photoUrl }}">
              <h3 class="score">{{ senator.score_2018 }}</h3>
              <a href="tel:{{senator.civics_info.phones.0}}">{{senator.civics_info.phones.0}}</a>
              <br>
              <a href="{{senator.civics_info.urls.0}}">{{senator.civics_info.urls.0}}</a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% if house_available %}
      <br><br>
      <div class="row">
        <div class="col-8">
          <h1>Representative</h1>
          <div class="row">
            {% for rep in house_scores %}
            <div class="col-12">
              <h4>{{ rep }}</h4>
              <img style="margin:1em" width="100" src="{{ rep.civics_info.photoUrl }}">
              <h3 class="score">{{ rep.score_2018 }}</h3>
              <a href="tel:{{rep.civics_info.phones.0}}">{{rep.civics_info.phones.0}}</a>
              <br>
              <a href="{{rep.civics_info.urls.0}}">{{rep.civics_info.urls.0}}</a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </section>
  <!-- Footer
                -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <p class="text-muted small mb-4 mb-lg-0">Big Red Hacks 2019 | P.J. Finlay</p>
      </div>
    </div>
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="{% static "main_site/vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "main_site/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  <script>
    /* https://gist.github.com/mlocati/7210513 */
    function perc2color(perc) {
      var r, g, b = 0;
      if (perc < 50) {
        r = 255;
        g = Math.round(5.1 * perc);
      }
      else {
        g = 255;
        r = Math.round(510 - 5.10 * perc);
      }
      var h = r * 0x10000 + g * 0x100 + b * 0x1;
      return '#' + ('000000' + h.toString(16)).slice(-6);
    }

    $(document).ready(function () {
      $(".score").each(function (index) {
        score = $(this).text();
        $(this).css('color', perc2color(score));
      });
    });
  </script>
</body>

</html>